.shopmonitor{
    position: fixed;
    left: 220px;

    // position: relative;
    // left: 800px;
    width: 85%;
    height: 100%;
    // overflow: hidden;
    overflow: auto;
    background-color: white;
}