.nav {
    height: 100%;
    width: 200px;
    // padding-top: 10px;
    background-color: #000c17;
    

    // .ant-menu-item .ant-menu-item-icon {
    //     //修改监控图标大小
    //     // font-size: 30px;
    // }
    // .ant-menu-submenu-title .anticon {
    //     //修改消息图标大小
    //     // font-size: 30px;
    // }

    // .ant-menu-item-icon+span {
    //     //修改 “监控 消息通知” 字体大小
    //     // font-size: 25px;
    // }
}